.vs/DatabaseClient/v15/.suo
.vs/DatabaseClient/v15/Server/sqlite3/db.lock
.vs/DatabaseClient/v15/Server/sqlite3/storage.ide
.vs/DatabaseClient/v15/Server/sqlite3/storage.ide-shm
.vs/DatabaseClient/v15/Server/sqlite3/storage.ide-wal
/bin
/obj